# Application
NODE_ENV=development
PORT=3000
API_VERSION=v1

# Database
DATABASE_URL="postgresql://user:pass@host:5432/SalesDataBase?schema=sales"

# JWT
JWT_SECRET=tu_super_secreto_aqui_cambiar_en_produccion
JWT_EXPIRATION=24h

# CORS
CORS_ORIGIN=http://localhost:3000,http://localhost:3001

# Logging
LOG_LEVEL=debug

# Swagger
SWAGGER_ENABLED=true
SWAGGER_PATH=/api/docs